<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,244},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,758},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,758},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,486},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,244},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_music2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,986},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dot_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,950},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>img_baolie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,330}}</string>
                <key>sourceSize</key>
                <string>{268,330}</string>
            </dict>
            <key>img_baolie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,950},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>img_baolie_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,758},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>long_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{134,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,474}}</string>
                <key>sourceSize</key>
                <string>{134,474}</string>
            </dict>
            <key>long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,334},{134,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,324}}</string>
                <key>sourceSize</key>
                <string>{134,324}</string>
            </dict>
            <key>long_head_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{134,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,324}}</string>
                <key>sourceSize</key>
                <string>{134,324}</string>
            </dict>
            <key>long_head_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,622},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>long_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,242},{134,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,218}}</string>
                <key>sourceSize</key>
                <string>{134,218}</string>
            </dict>
            <key>long_tap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,486},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>long_tilelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>purple_long_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,482},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>purple_long_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,242},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>slide_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,946},{134,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,32}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>slide_tile_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,946},{2,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,324}}</string>
                <key>sourceSize</key>
                <string>{2,324}</string>
            </dict>
            <key>slide_tile_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,950},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>slide_tile_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,980},{4,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,240}}</string>
                <key>sourceSize</key>
                <string>{4,240}</string>
            </dict>
            <key>slide_tile_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,950},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>slide_tilelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>slide_tri_blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,618},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{113,94}</string>
            </dict>
            <key>tile_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,244},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>tile_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>tile_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,796},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>tile_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,660},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f75abe647c4949f02b8d1ec18258cb:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
