<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{137,327},{134,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{379,243},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{409,1},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{787,379},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{335,243},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{273,243},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,474}</string>
                <key>spriteSourceSize</key>
                <string>{134,474}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,324}</string>
                <key>spriteSourceSize</key>
                <string>{134,324}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,218}</string>
                <key>spriteSourceSize</key>
                <string>{134,218}</string>
                <key>textureRect</key>
                <string>{{787,243},{134,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>long_tap2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{515,243},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_tilelight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,238}</string>
                <key>spriteSourceSize</key>
                <string>{134,238}</string>
                <key>textureRect</key>
                <string>{{817,1},{134,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{545,1},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{651,243},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,240}</string>
                <key>spriteSourceSize</key>
                <string>{134,240}</string>
                <key>textureRect</key>
                <string>{{681,1},{134,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1006,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e1ccac337eea667bc37531094af093:1e6c8154bd80b2bbbec5128acf08053e:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
